* {
    margin: 0; /* remove a margem interna */
    padding: 0; /* remove a margem externa */
    box-sizing: border-box; /* faz o calculo da largura e altura incluindo a borda */
}

body {
    background-color: #030013;
    color: rgb(255, 255, 255, 0.9);
}